@page "/None"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Shopping Cart</h1>
    <h5 class="display-6">Simply Click 'Login' and Let the Shopping Begin!</h5>
    <div >
        <a class="btn btn-primary" asp-page="/ShoppingCartPages/Login">Login</a>
    </div>
</div>


