@page
@model ShoppingCart.Pages.SuccessPageModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successful</title>

</head>
<body>
    <div style="text-align: center; padding: 50px;">
        <h1>Your Order Is Successful</h1>
        <p>Thank you for your purchase. Your order has been successfully placed.</p>


    </div>
</body>